# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Local Database
# =========================
threads.db

# =========================
# User Uploads
# =========================
uploads/

# =========================
# FAISS Vector Store
# =========================
vector_store/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db